

.nbsphinx-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 5px;
    margin-top: 1em;
    margin-bottom: 1em;
}

h1 {
    font-size: 2em
}

h2 {
    font-size: 1.5em
}

h3 {
    font-size: 1.25em
}

h4 {
    font-size: 1.125em
}

h5 {
    font-size: 1.07em
}

h6 {
    font-size: 1em
}